*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.App {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    flex-direction: column-reverse;
    background-color: rgba(43, 5, 79, 0.593);
}
.buttons  {
    display: flex;;
}

.container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.buttonContainer {
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 100%;
    height: 60px;
    position: sticky;
    top: 0;
    background-color: black;
    color: aliceblue;
}

.buttonContainer h1{
    width: 600px;
    font-size: 3em;
}

.buttonContainer button {
    height: 25px;
    margin-left: 15px;
    border-radius: 5px;
    border: 1px solid black;;
    background-color: rgba(128, 8, 241, 0.593);
    padding: 0 8px 0 8px;
    font-size: 1.2em;
    color: white;;
}

.movieContainer {
    margin: 20px;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;

}

.movieCard {
    color: aliceblue;
    background-color: cadetblue;
    text-align: center;
    width: 200px;
    min-height: 300px;
    padding: 10px;
    border-radius: 15px;
    border: 2px solid black;
}

.movieCard p {
    line-height: 2rem;
    overflow: hidden;
}   